__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.cursor/
nvim/
build/
dist/
*.log
**/*.rar
*.tar
*.tar.gz
docker_export/
doc's & md's/
backend/uploads/
backend/logs/
tests/
*.db
*.sqlite
*.sqlite3
.db.backup_*
database/*.db.*
database/users_courses.db
database/users_courses.db.backup_*
.git/
.gitignore
deploy/
*.swp
*.DS_Store
node_modules/
*.zip
LNSVImage/






