<header class="header">
  <div class="logo-group">
    <div class="logo">
      <div class="letters-group">
        <img class="logotype" src="/main-pg/img/лого.svg" alt="L letter" />
      </div>
    </div>
    <div class="labels">
      <h1 class="site-name">Образовательный</h1>
      <h2 class="site-subtitle">портал ГТНГ</h2>
      <span class="user-label">user</span>
    </div>
  </div>
  <nav class="navigation">
    <ul>
      <li><a href="/main">главная</a></li>
      <li><a href="/questions">вопросы</a></li>
      <li><a href="/questions?tab=ask" class="nav-btn-create">Создать вопрос</a></li>
      <li><a href="/all-categories-pg">база знаний</a></li>
      <li><a href="/users-info">моя активность</a></li>
    </ul>
  </nav>
  <div class="user-info">
    <span class="user-name">{{ full_name or username or 'Пользователь' }}</span>
    <div class="user-icon">
      <img src="/main-pg/img/vector.svg" alt="User icon" />
    </div>
  </div>
</header>



