<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="C:\Users\Пользователь\Desktop\user-heder-footer\css\header-footer.css">
<body>
    <header class="header">
    <div class="logo-group">
      <div class="logo">
        <div class="letters-group">
          <img class="logotype" src="img/лого.svg" alt="L letter" />
        </div>
      </div>
      <div class="labels">
        <h1 class="site-name">Образовательный</h1>
        <h2 class="site-subtitle">портал ГТНГ</h2>
        <span class="user-label">admin</span>
      </div>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="/main">главная</a></li>
        <li><a href="/questions">вопросы</a></li>
        <li><a href="/all-lessons">Уроки</a></li>
        <li><a href="/lessons-content">база знаний</a></li>
        <li><a href="/users-info">пользователи</a></li>
        <li><a href="/main">новости</a></li>
      </ul>
    </nav>
    <div class="user-info">
      <span class="user-name">{{ username }}</span>
      <div class="user-icon">
        <img src="img/vector.svg" alt="User icon" />
      </div>
    </div>
  </header>
    <footer class="footer">
        <div class="footer-content">
            <p class="description">платформа для обучения и тестирования</p>
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">о нас</a></li>
                    <li><a href="/questions">задать вопрос</a></li>
                    <li><a href="https://t.me/pixel_man_xVM">контакты</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <div class="made-by">
      <p class="made-company-p">© 2025 - ПАО "Гипротюменнефтегаз"</p>
    </div>
    </body>
</html>
